.textcontainer{
    margin-top: 9rem;
}

.textcontainer .portfoliobutton {
    background: #90E77D;
    border: 1px solid #90E77D;
    color: #000;
    font-weight: 700;
}

.textcontainer .portfoliobutton:hover {
    background: linear-gradient(80deg, #014507, #7a6b6b);
    color: #90E77D;
}

@media (min-width: 768px) {
    .arrowicon {
        right: 10;
    }
}